@import '@nativescript/theme/css/core.css';
@import '@nativescript/theme/css/default.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

Button.-primary {
  font-size: 17;
}

* {
  background-color: #1F1F1F;
}

ActionBar.bggrey {
  background-color: #1F1F1F;
  color: #FFFFFF;
}









.profile-image {
  height: 150;
  width: 150;
  border-radius: 30;
  margin-top: 20;
}

.developer-label {
  color: #FFFFFF;
  font-size: 20;
  margin-top: 10;
}

.email-label, .location-label {
  color: #FFFFFF;
  margin-top: 20;
}

.social-buttons Image {
  height: 40;
  width: 40;
  margin-top: 20;
}

.hire-button {
  background-color: #00FF00;
  color: #FFFFFF;
  margin-top: 20;
}

.menu-item {
  color: #FFFFFF;
  border-bottom-width: 1;
  border-bottom-color: #2E2E2E;
  padding: 10;
  font-size: 18;
}





/* app.css */
.font-awesome-icon {
  font-family: "FontAwesome";
  font-size: 24; /* Adjust the size as needed */
  color: #000; /* Adjust the color as needed */
}

.home-dm {
  width: 390;
  height: 918;
  position: relative;
  border-radius: 30;
  overflow: hidden;
}

.status-bar {
  width: 390;
  height: 44;
  left: 0;
  top: 0;
  position: absolute;
}

.status-bar-icon {
  font-size: 24;
  color: white;
}

.time-style {
  width: 54;
  padding-top: 3;
  left: 21;
  top: 11;
  position: absolute;
  justify-content: center;
  align-items: center;
  display: inline-flex;
}

.time {
  width: 54;
  text-align: center;
  color: white;
  font-size: 15;
  font-style: italic;
  font-weight: 100;
  word-wrap: break-word;
}

.rectangle-31 {
  width: 390;
  height: 623;
  left: 0;
  top: 44;
  background-color: transparent;
  border-radius: 30;
  border-width: 0.25;
  border-color: white;
  margin-top: 0;
  padding-top: 0;
}

.abigail {
  margin-top: 49px;
  margin-left: 20px;
  left: 21;
  top: 69;
  color: white;
  font-size: 34;
  font-weight: 700;
  line-height: 45;
}

.developer {
  margin-right: 20px;
  left: 307;
  top: 69;
  color: white;
  font-size: 14;
  font-weight: 400;
  line-height: 45;
}


.rectangle-41 {
  width: 236;
  height: 213;
  left: 77;
  top: 136;
  position: absolute;
  border-radius: 30;
}

.ellipse {
  width: 50;
  height: 50;
  border-width: 0.50;
  border-color: white;
  border-radius: 9999;
}

.social-icons {
  margin-top: 10;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.button {
  margin-top: 10;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.hire-me,
.skills,
.about,
.contact {
  width: 75%;
  text-align: center;
  color: black;
  font-size: 17;
  font-weight: 500;
  line-height: 45;
  word-wrap: break-word;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100;
  border-bottom-width: 0.25;
  border-bottom-color: white;
  backdrop-filter: blur(4);
}